@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.text-tmbc {
  background: gray;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}
.bg-tmbc {
  background: linear-gradient(to right, red, rgb(157, 0, 214), blue);
}
.link-tmbc:hover {
  background: gray;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.imagen-escondida {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  transition-duration: 0.9s;
  background-position: center;
  background-size: cover;
}
.imagen-escondida:hover {
  width: 200%;
  height: 200%;
  transition-duration: 0.9s;
  z-index: 2;
}
.imagen-escondida-derecha {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  transition-duration: 0.9s;
  background-position: center;
  background-size: cover;
}
.imagen-escondida-derecha:hover {
  width: 200%;
  height: 200%;
  transition-duration: 0.9s;
  margin-left: -100%;
  z-index: 2;
}
.imagen-escondida .tmbc-socials {
  display: none;
}
.imagen-escondida:hover .tmbc-socials {
  display: flex;
}

.imagen-escondida-derecha .tmbc-socials {
  display: none;
}
.imagen-escondida-derecha:hover .tmbc-socials {
  display: flex;
}

p {
  margin: 20px 0 !important;
}
